<h1>Usuarios Cadastrados</h1>
<br />
<table>
  <thead>
  <tr>
    <th>Codigo</th>
    <th>Email</th>
    <th>Nome</th>
    <th>Telefone</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <thead>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <% if !user.perfil.nil? %>
            <td><%= user.perfil.nome %></td>
            <td><%= user.perfil.telefone %></td>
        <% end %>
      </tr>
      </thead>
  <% end %>


  </tbody>
</table>
