
<h1>Solicitações</h1>

<table>
  <thead>
  <tr>
    <th>Data</th>
    <th>Qtd Medicamentos</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @carrinhos.each do |carrinho| %>
      <thead>
      <tr>
        <% if !carrinho.data.blank? || !carrinho.data.nil? %>
          <td><%= carrinho.data.strftime("%d/%m/%Y") %></td>
        <% else %>
          <td>Erro ao recuperar data</td>
        <% end %>
        <td><%= carrinho.items.size %></td>
        <td><%= link_to 'Ver', carrinho %></td>
      </tr>
      </thead>
  <% end %>


  </tbody>
</table>
