<ul id="dropdown1" class="dropdown-content">
  <li><%=  link_to 'Editar', edit_perfi_path(current_user.perfil) %></li>
  <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
</ul>