<%= image_tag("farmaciadobem.png") %>

  <div class="section no-pad-bot" style="background-color:#73C7A2  ">
    <div class="container">
      <h3 class="header center" style="color:white">Nossa Missão</h3>
      <div class="left-align">
        Possibilitar à população de baixa renda maior acesso
          aos medicamentos necessários , através de doação de medicamentos não utilizados.
          Essa atitude evita o desperdício de medicamentos ociosos e o descarte incorreto dos mesmos-
          Ação social e ecológica.
      </div>
      <br><br>

    </div>
  </div>



