<%= image_tag(("banner-principal.png"), class: "responsive-img" ) %>
<div class="section no-pad-bot card-panel teal lighten-2 ">
  <div class="container white-text">
    <h3 class="header center">Nossa Missão</h3>
    <div>
      Possibilitar à população de baixa renda maior acesso
        aos medicamentos necessários , através de doação de medicamentos não utilizados.
        Essa atitude evita o desperdício de medicamentos ociosos e o descarte incorreto dos mesmos-
        Ação social e ecológica.
    </div>
    <br><br>
  </div>
</div>
<%= image_tag(("oquefazemos.png"), class: "responsive-img" ) %>
<div class=responsive-img" style="background-image:url(/assets/remedios-mao-3445276924d06655b622f379443fb64d72e8b0ee5cf1d01c3f4ff8474fcb143c.png);width: 100%;height: 260px;">
  <div class="row">
    <div class="col s2 center-align white-text" style="width:300px; height:110px; background-color:#ef9a9a;border-radius: 10px;border-radius: 10px;opacity: 0.5;filter: alpha(opacity=50);">
      QUERO DOAR UM MEDICAMENTO <br/>
      Você tem medicamento em casa sobrando ,
      dentro do prazo de validade?Muita gente precisa de seu medicamento!
      Saiba mais...
    </div>
    <div class="col s2 offset-s1 center-align white-text" style="width:300px; height:110px; background-color:#ef9a9a;border-radius: 10px;opacity: 0.5;filter: alpha(opacity=50);">
      DICAS DE SAÚDE <br />
      Dicas de Saúde atualizadas constantemente.
      Saiba Mais...
    </div>
  </div>
  <div class="row">
    <div class="col s2 center-align white-text" style="width:300px; height:110px; background-color:#ef9a9a;border-radius: 10px;border-radius: 10px;opacity: 0.5;filter: alpha(opacity=50);">
      PRECISO DE UM MEDICAMENTO<br />
      Utiliza um medicamento e não possui condições de comprar o mesmo?
      Se cadastre e receba de graça com alertas sobre sua disponibilidade.
      Siba Mais...
    </div>
    <div class="col s2 offset-s1 center-align white-text" style="width:300px; height:110px; background-color:#ef9a9a;border-radius: 10px;border-radius: 10px;opacity: 0.5;filter: alpha(opacity=50);">
      REVERSE DELIVERY<br />
      Aproveite a entrega de sua pizza ou de seu medicamento, para doar ou descartar medicamentos que já estão vencidos.
      Saiba mais...
    </div>
  </div>
</div>

